{% extends 'main.html' %}
{% block title %}
<title>Edit Page</title>
{% endblock title %}


{% block body %}
  <center><h1>Edit Post</h1></center>
    <form action="/edit/{{blog.id}}" method='POST'>
        Title:<input type='text' name='title' value="{{blog.title}}"><br>
        Content:<input type='text' name='content' value="{{blog.content}}"><br>
        Author:<input type='text' name='author' value="{{blog.author}}"><br>
        <input type='submit' value='Edit'>
    </form>
{% endblock body %}
  

